// 样式重置 防止不同设备浏览器的默认样式产生影响
* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 14px;
}

body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
}

a {
    color: #27a;
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.top-in {
    margin:0.5em 0.8em;
    font-size: 0.85em;
}
.top-in-right {
    margin:0.5em 0.8em;
    font-size: 0.85em;
    margin-left: auto; 
}

.logo-text {
    margin: 20px 50px;
    font-size: 2em;
    color:#37a;
    align-self: center;
}
.logo-search {
    align-self: center;
}
.logo {
    background-color: rgba($color: #27a, $alpha: 0.08);
}
.logo-search-button {
    height: 50px;
    width: 50px;
    align-self: center;
}
//colors
$colors:(
    "white":#fff,
    "dark_gray":#545652,
    "grey":#d5d5d5,
    "blue":#27a,
    "dark_blue":#37a,
    "playable": #00A65F,
    "foot_icon_back":#00A65F
);



// text

@each $var in (left, right, center) {
    .text-#{$var} {
        text-align: $var;
    }
}

@each $key, $value in $colors {
    .text-color-#{$key} {
        color: $value;
    }
    .bg-color-#{$key} {
        background: $value;
    }
}