* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
}

a {
  color: #27a;
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.top-in {
  margin: 0.5em 0.8em;
  font-size: 0.85em;
}

.top-in-right {
  margin: 0.5em 0.8em;
  font-size: 0.85em;
  margin-left: auto;
}

.logo-text {
  margin: 20px 50px;
  font-size: 2em;
  color: #37a;
  align-self: center;
}

.logo-search {
  align-self: center;
}

.logo {
  background-color: rgba(34, 119, 170, 0.08);
}

.logo-search-button {
  height: 50px;
  width: 50px;
  align-self: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-color-white {
  color: #fff;
}

.bg-color-white {
  background: #fff;
}

.text-color-dark_gray {
  color: #545652;
}

.bg-color-dark_gray {
  background: #545652;
}

.text-color-grey {
  color: #d5d5d5;
}

.bg-color-grey {
  background: #d5d5d5;
}

.text-color-blue {
  color: #27a;
}

.bg-color-blue {
  background: #27a;
}

.text-color-dark_blue {
  color: #37a;
}

.bg-color-dark_blue {
  background: #37a;
}

.text-color-playable {
  color: #00A65F;
}

.bg-color-playable {
  background: #00A65F;
}

.text-color-foot_icon_back {
  color: #00A65F;
}

.bg-color-foot_icon_back {
  background: #00A65F;
}
